@model DOAM.Application.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 mb-5" data-aos="fade">

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal p-5 bg-white", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Change Password Form</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="row form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "text-black control-label" })
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "text-black control-label" })
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-black control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Change password" class="btn btn-primary py-2 px-4 text-white">
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
