@model DOAM.Application.ViewModels.MetadataGroups.FormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<section class="content pb-1">
    <div class="card">
        @using (Html.BeginForm("Save", "MetadataGroups"))
        {
            @Html.AntiForgeryToken()
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title align-self-center">New</h3>
                    <button type="submit" class="btn btn-primary"><span class="nav-icon fas fa-save mr-2"></span>Save</button>
                </div>
            </div>


            <!-- /.card-header -->
            <div class="card-body">
                @Html.ValidationSummary(true, "Some fields are invalid.")
                <div class="form-group">
                    @Html.LabelFor(vm => vm.MetadataGroup.Name)
                    @Html.TextBoxFor(vm => vm.MetadataGroup.Name, new { placeholder = "Name", @class = "form-control" })
                    @Html.ValidationMessageFor(vm => vm.MetadataGroup.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(vm => vm.MetadataGroup.Description)
                    @Html.TextAreaFor(vm => vm.MetadataGroup.Description, new { placeholder = "Description", @class = "form-control" })
                    @Html.ValidationMessageFor(vm => vm.MetadataGroup.Description)
                </div>
                @Html.HiddenFor(vm => vm.MetadataGroup.MetadataGroupId)
            </div>
            <!-- /.card-body -->
        }
    </div>
    <!-- /.card -->
</section>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(document).ready(function () {
            $("#MetadataGroup_Name").rules("add", {
                required: true,
                maxlength: 100,
                messages: {
                    required: "Name is required.",
                    maxlength: "Name is too long, maximum 100 characters."
                }
            });
            $("#MetadataGroup_Description").rules("add", {
            required: true,
                maxlength: 500,
                messages: {
                    required: "Description is required.",
                    maxlength: "Description is too long, maximum 500 characters."
                }
            });
        });
    </script>
}