@using DOAM.Application.ViewModels.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5" data-aos="fade">

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-5 bg-white", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="text-black">Use a local account to log in</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Email, new { @class = "text-black" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Password, new { @class = "text-black" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "text-black" })
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-12">
                                <p class="text-black">No account yet? @Html.ActionLink("Register", "Register")</p>
                                @*Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Log In" class="btn btn-primary py-2 px-4 text-white">
                            </div>
                        </div>

                    }
                </section>
            </div>


            <div class="col-md-5" data-aos="fade">
                <div class="p-5 bg-white">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}